:root {
  font-family: 'Hiragino Sans', 'Meiryo', 'Source Han Sans', 'Noto Sans CJK JP',
  'Yu Gothic', sans-serif;
  line-height: 1.75;
  word-break: break-all;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}
